uni-app {
  height: auto !important;
}

page {
  width: 100%;
  min-height: 100%;
}

view {
  line-height: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
image {
  width: 100%;
  display: block;
}

rich-text {
  color: #383838;
}

button,
textarea {
  margin: 0;
  padding: 0;
}

button::after {
  border: none;
}
